
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: baloobhai;

}

/* --------Global Css------ */

@font-face {
    font-family: baloobhai;
    src: url(BalooBhai-Regular.ttf);
    font-weight: normal;
}
li{
    list-style: none;
}
a{
    text-transform: uppercase;
    text-decoration: none;
}

.m-100{
    width: 100%;
}


/* --x------Global Css---x--- */


/* --------container-fluid------ */
.container{
    background-image: url(bg-1.jpg);
    max-width: 1200px;
    min-height: 750px;
    background-position: center;
    background-size: cover;
    margin: 70px auto ;
    display: flex;
    justify-content: space-between;
}
.main_left{
    height: 750px;
    width: 65%;
}
.main_right{
    margin-right: -10px;
    width: 400px;
    overflow: hidden;
    margin-bottom: -10px;
}
.main_right img{
    width: 490px;
}




 
.navber{
    margin-left: 25px;
    padding: 20px 0px 10px 0;
    width: 500px;
    display: flex;
}
.nav-brand{
    width: 50px;
}
.navlist{
    margin: 10px 0 0 5px;
}
.navlist li{
    display: inline-block;
    padding: 10px 12px;
    margin: 0 5px;
    transition: all .4s;
}
.navlist li a{
    color: black;
}
.navlist li:hover{
    background-color: black;
}

.navlist li:hover a{
    color: #fff;
}

.body{
    display: flex;
}

.body{
    margin-top: 20px;
    position: relative;
}
.left-icon{
    margin-top: 100px;
    margin-right: 20px;
}
.left-icon img{
    width: 80px;
}
.right-icon{
    margin-top: 10px;
}
.right-icon img{
    width: 60px;
}
.main-option{
    margin-top: 100px;
    margin-left: 12px;
}
.main-option h2{
    font-family: 'Ubuntu', sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #1c1c1c;
}
.main-option h1{
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: black;
    font-size: 60px;
    font-family: baloobhai;
    line-height: 60px;
    font-weight: lighter;
}
.main-option h1 span{
    width: 100%;
    color: #45ac75;
}
.main-option h1 span p{
    font-family: 'Ubuntu', sans-serif;
    color: #1c1c1c;
    font-size: 14px;
    line-height: 20px;
    margin-left: 251px;
    margin-top: -60px;
}
@media screen and (max-width:1000px) {
    .main-option h1 span p{
        margin-left:0;
        margin-top: 10px
    }
}
.main-option button{
    margin-top: 50px;
    background-color: #0bdb6c;
    padding: 5px 20px;
    color: black;
    border: none;
    transition: all .6s;
}
.main-option button:hover{
    background-color: #063f21;
    color: #fff;
}
.icon{
    margin-top: 70px;
}
.icon i{
    margin: 0 10px 0 0;
    padding: 7px 8px;
    border: 1px solid black;
    border-radius: 50%;
    cursor: pointer;
    transition: all .4s;
}
.icon i:hover{
    background-color: black;
    color: #fff;
}
.close{
    display: none;
}
.open{
    display: none;
}
@media screen and (max-width:800px) {
    .main-option h1 span p{
        margin-left:0;
        margin-top: 10px
    }
    .container{
        flex-direction: column;
        justify-content: center;
        margin: 0 ;
    }
    .main_left{
        width: 100%;
        height: 100%;
    }
    .main_right{
        margin-right: 0;
        width: 100%;
        margin-top: 50px;
        overflow: visible;
        margin-bottom: 0;
    }
    .main_right img{
        float: right;
        width: 70%;
    }
}
@media screen and (max-width:500px) {
    .navlist{
        margin: 0;
        padding-top: 100px;
        position: absolute;
        right: 0;
        width: 250px;
        z-index: 10000;
        height: 100vh;
        background-color: #45ac75;
        top: -10px;
        display: none;
    }
    .navlist li{
        display: block;
    }
    .close{
        display: block;
    }
    .open{
        position: absolute;
        right: 20px;
        display: block;
    }
    .open i{
        font-size: 25px;
        padding: 5px 10px 5px 10px;
        box-shadow: 0px 0px 14px 0px black;
        transition: all .4s;
    }
    
    .open i:hover{
        background-color: #fff;
        color:#45ac75;
        box-shadow: 0px 0px 4px 0px #45ac75;
    }
    .open i:active{
        font-size: 23px;
    }


    .close{
        top: 12px;
        left: 3px;
        position: absolute;
        display: block;
    }
    .close i{
        font-size: 28px;
        transition: all .4s;
    }
    
    .close i:hover{
        color:#02f875;

    }
    .close i:active{
        font-size: 25px;
    }
    .body {
        margin-top: 0;
    }
    .main-option h2 {
        font-size: 15px;
        letter-spacing: 1px;
    }
    .main-option h1 {
        color: black;
        font-size: 30px;
        line-height: 30px;
    }
    .main-option h1 span p{
        font-size: 13px;
    }
}